<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="assets/styles/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap")
        script(src="https://kit.fontawesome.com/c9d06a3481.js")
    body
        .wrapper
            .header
                .logo
                    img(src="/assets/images/logo.png", alt="")
                .menu
                    ul
                        li 
                            a(href="#") Quy Định - Biểu mẫu
                        li 
                            a(href="#") Xem TKB - Công nợ
                        li 
                            a(href="#") Office 365
                        li 
                            a(href="#") iStudy
                        li 
                            a(href="#") Thư viện
            .bg-image
                .box
                    img(src="/assets/images/logo2.png", alt="")
                    h1.heading-text Cổng thông tin điện tử   
                    h2.sub-text sinhvien.bvu.edu.vn 
                    button Đăng nhập
            .news-list
                h2.heading-section Thông tin mới nhất
                .container
                    .news.column
                        .news-image
                            img(src="https://dummyimage.com/200x200/d1d1d1/0011ff.jpg&text=Th%C3%B4ng+b%C3%A1o 200x200", alt="")
                        .news-text
                            a(href="#") Hướng dẫn thủ tục đăng ký, cấp phát, xử lý các loại giấy tờ - Phòng Đào tạo - KHCN
                            p Ngày đăng: 02-06-2020
                    .news.column
                        .news-image
                            img(src="https://dummyimage.com/200x200/d1d1d1/0011ff.jpg&text=Th%C3%B4ng+b%C3%A1o 200x200", alt="")
                        .news-text
                            a(href="#") Thông báo gia hạn thời gian nộp học phí học kỳ 3 năm học 2019-2020 trình độ đại học 
                            p Ngày đăng: 01-06-2020
                    .news.column
                        .news-image
                            img(src="https://dummyimage.com/200x200/d1d1d1/0011ff.jpg&text=Th%C3%B4ng+b%C3%A1o 200x200", alt="")
                        .news-text
                            a(href="#") Thông báo tuyển sinh đi học tại Liên bang Nga năm 2020
                            p Ngày đăng: 14-05-2020
                    .news.column
                        .news-image
                            img(src="https://dummyimage.com/200x200/d1d1d1/0011ff.jpg&text=Th%C3%B4ng+b%C3%A1o 200x200", alt="")
                        .news-text
                            a(href="#") Thông báo giảm học phí do ảnh hưởng của dịch bệnh Covid - 19
                            p Ngày đăng: 12-05-2020
            .majors
                h2.heading-section Các ngành học tại BVU
                .container
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ kỹ thuật điện, điện tử
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Điện công nghiệp và dân dụng
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Điện tử công nghiệp
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Điều khiển và tự động hóa
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ kỹ thuật công trình xây dựng
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Xây dựng dân dụng và công nghiệp
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Thiết kế nội thất
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản lý dự án xây dựng
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ kỹ thuật cơ khí
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Cơ điện tử
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Cơ khí chế tạo máy
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Cơ khí ô tô
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Bảo dưỡng công nghiệp
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ thông tin
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Công nghệ thông tin
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản trị mạng và an toàn thông tin
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Lập trình ứng dụng di động, game
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ kỹ thuật hóa học
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Công nghệ hóa dầu
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Hóa dược - Hóa Mỹ phẩm
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Công nghệ kỹ thuật hóa học
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Công nghệ thực phẩm
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Công nghệ thực phẩm
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản lý chất lượng thực phẩm
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Dinh dưỡng và khoa học thực phẩm
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Logistics và chuỗi cung ứng
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Logistic và quản lý chuỗi cung ứng
                                li 
                                    i.fas.fa-caret-right
                                    | Logistic và thương mại điện tử
                                li 
                                    i.fas.fa-caret-right
                                    | Thương mại quốc tế
                                li 
                                    i.fas.fa-caret-right
                                    | Tổ chức quản lý cảng - Xuất nhập khẩu - Giao nhận vận tải quốc tế
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Quản trị kinh doanh
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản trị doanh nghiệp
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản trị Du lịch – Nhà hàng – Khách sạn
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Kinh doanh quốc tế
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Quản trị Tài chính – Ngân hàng
                    .major.column
                        .major-image
                            img(src="https://dummyimage.com/370x230/d1d1d1/0011ff.jpg", alt="")
                        .major-text
                            h2 Kế toán
                            ul
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Kế toán kiểm toán
                                li 
                                    i.fas.fa-caret-right
                                    | Chuyên ngành Kế toán tài chính
            .review
                .container
                    .r.column
                        .r-image
                            <i class="fas fa-globe-asia"></i>
                        .r-text
                            p Xếp hạng 5* cho chất lượng đào tạo
                    .r.column
                        .r-image
                            <i class="fas fa-university"></i>
                        .r-text
                            p Top 10 các trường đại học tốt nhất
                    .r.column
                        .r-image
                            <i class="fas fa-users"></i>
                        .r-text
                            p 99% sinh viên ra trường có việc làm
                    .r.column
                        .r-image
                            <i class="fas fa-map-marker-alt"></i>
                        .r-text
                            p Nền giáo dục đạt chuẩn quốc tế
            .career
                