* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #444445;
    font-family: 'Montserrat', sans-serif;;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.column  {
    --columns: 12;
    --width: 0;
    flex-basis: calc(var(--width) / var(--columns) * 100%);
}

.wrapper {
    .header {
        max-width: 1170px;
        height: 85px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .logo {
            flex: 0 1 30%;
            img {
                height: 75px;
            }
        }
        .menu {
            flex: 0 1 70%;
            ul {
                list-style: none;
                text-align: center;
                li {
                    display: inline-block;
                    padding: 0 12px;
                    a {
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .bg-image {
        width: 100%;
        height: 700px;
        background-image: url(../images/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        display: flex;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
            z-index: 1;
        }
        .box {
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 45%;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            text-align: center;
            img {
                width: 150px;
            }
            .heading-text {
                margin-top: 25px;
                color: #fff;
                font-size: 36px;
            }
            .sub-text {
                margin-top: 20px;
                color: #fff;    
                font-size: 28px;
            }
            button {
                margin-top: 30px;
                padding: 16px 24px;
                background-color: #47b340;
                outline: none;
                border: none;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                border-radius: 7px;
            }
        }
    }
    .heading-section {
        text-transform: uppercase;
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
    }
    .news-list {
        max-width: 1170px;
        margin: 0 auto;
        padding: 30px 0;
        .container {
            .news {
                --width: 6;
                display: flex;
                padding: 10px;
                img {
                    margin-right: 10px;
                }
                a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: unset;
                    text-align: unset;
                    margin-bottom: 5px;
                }    
            }
        }
    }
    .majors {
        width: 100%;
        padding: 30px 0;
        background-color: #f7f7f7;
        .container {
            width: 1170px;
            .major {
                --width: 4;
                margin-bottom: 230px;
                position: relative;
                .major-text {
                    position: absolute;
                    top: 190px;
                    left: 20px;
                    width: 330px;
                    background-color: #fff;
                    padding: 25px 15px;
                    h2 {
                        font-size: 20px;
                        text-align: center;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                    ul {
                        list-style: none;
                        li {
                            padding: 5px 0;
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .review {
        max-width: 1170px;
        margin: 0 auto;
        .container {
            .r {
                --width: 3;
                padding: 70px 5px;
                i {
                    display: block;
                    font-size: 60px;
                    text-align: center;
                }
                p {
                    margin-top: 10px;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
}